{{#each this}}
  <div class='photo-card'>
    <div class='photo-card__box-img'>
      <a class='gallery__item' href='{{largeImageURL}}'>
        <img
          class='photo-card__img'
          src='{{webformatURL}}'
          alt='{{tags}}'
          loading='lazy'
        /></a>
    </div>

    <ul class='photo-card__list'>
      <li class='photo-card__item'>
        <b class='text'>Likes</b>
        <p class='text likes-count'>{{likes}}</p>
      </li>

      <li class='photo-card__item'>
        <b class='text'>Views</b>
        <p class='text views-count'>{{views}}</p>
      </li>

      <li class='photo-card__item'>
        <b class='text'>Comments</b>
        <p class='text comments-count'>{{comments}}</p>
      </li>

      <li class='photo-card__item'>
        <b class='text'>Downloads</b>
        <p class='text downloads-count'>{{downloads}}</p>
      </li>
    </ul>

  </div>
{{/each}}